#home {
  display: grid;
  grid-template-columns: 20% 65% 15%;
  grid-template-areas:
    "side personal invites"
    "side boards invites";
}

#home-board-container {
  padding: 20px;
}

#sidebar {
  grid-area: side;
  padding-top: 5vh;
  padding-left: 3vw;
}

#personal {
  grid-area: personal;
  overflow: hidden;
  padding: 5px;
}

#team {
  grid-area: boards;
  margin-top: 5vh;
  overflow: hidden;
}

.board-card {
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
  float: left;
  max-width: 225px;
  min-width: 225px;
  max-height: 150px;
  min-height: 150px;
  background-size: cover;
  border-radius: 5%;
  box-shadow: 2px 2px 2px black
}

.ui.menu {
  margin: 0 !important;
}

#board-container {
  width: 100vw;
  background-size: cover;
  height: 100vh;
  padding: 3vh;
}

#board-projects-container {
  display: flex;
  overflow-x: scroll;
}

.project-container {
  padding: 10px;
  margin: 10px;
  min-width: 275px;
  max-height: 80vh;
  overflow-y: scroll;
}

#team-board {
  clear: both;
}

#invite-container {
  grid-area: invites;
  padding-top: 5vh;
}
